name: Ping Render Backend

on:
  schedule:
    - cron: '*/5 * * * *' # every 5 minutes UTC
  workflow_dispatch: # allows manual run from GitHub

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Log timestamp
        run: echo "Ping started at $(date -u) UTC"

      - name: Ping Render Health Endpoint
        uses: tyrrrz/action-http-request@master
        with:
          url: 'https://netflix-recommandation-system-backend.onrender.com/'

      - name: Log completion
        run: echo "Ping ended at $(date -u) UTC"
