name: Ping Render Backend

# Schedule workflow and allow manual trigger
on:
  schedule:
    - cron: '*/5 * * * *' # every 5 minutes
  workflow_dispatch: # allows manual run from GitHub

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render Endpoint
        run: |
          curl -s https://netflix-recommandation-system-backend.onrender.com/movies/trending || echo "Ping failed"
